{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5"> About</h3>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, consequatur voluptatibus, accusantium nemo officiis quas similique perspiciatis vitae impedit explicabo magnam assumenda earum perferendis laborum. At maxime facilis ratione sint.</p>
  <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium provident eveniet sint natus quia deserunt libero, tenetur vitae eos molestias sunt ipsa voluptas. Animi nesciunt esse asperiores at est maiores.
  </p>
</div>
{% endblock content %}